.mail-form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.input, .input-textarea {
  margin-top: 15px;
  border: 1px #cecece solid;
  line-height: 1.6;
  padding: 5px 8px;
  font-family: 'open sans';
  border-radius: 3px;
}

.submit {
  margin-top: 15px;
  font-family: 'monteserrat';
  font-weight: 500;
  border-radius: 4px;
  font-size: 16px;
  padding: 14px 38px 14px 42px;
}

/* Tablet */
@media (min-width: 480px) {
  .mail-form {
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 15% 15% 35% 20%;
    align-items: center;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .submit {
    max-width: 50%;
  }  
}

/* Desktop */
@media (min-width: 1440px) {
  .submit {
    max-width: 40%;
  }  
}