#about {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}

.about-title {
  font-size: 34px;
  font-weight: 1000;
  margin: 0 0 8px;
}

.about-subtitle {
  font-size: 16px;
  color: #999999;
  margin: 0 0 30px;
}

.about-text {
  color: #797979;
  line-height: 1.8;
  text-align: justify;
  font-family: 'open sans';
  margin: 0 0 16px;
  padding: 0 0 30px;
}

.resume {
  margin: 8px 0;
  font-size: 20px;
  padding: 14px 36px;
  text-decoration: none;
}

.justin-image {
  padding: 50px 0 0px 0;
}

.button-tray {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Tablet */
@media (min-width: 480px) {
  .about-content {
    max-width: 80%;
    align-self: center;
  }

  .justin-image {
    align-self: center;
    width: 75%;
  } 
  
  .button-tray {
    flex-direction: row;
    justify-content: start;
    gap: 10px;
  }  
}

/* Laptop */
@media (min-width: 1024px) {
  .about-content {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .about-container {
    padding: 0 20px;
  }

  .justin-image {
    align-self: center;
    max-width: 50%;
  } 
}

/* Font size 42px */
/* Subtitle 20px */
/* Text 18px */
/* Desktop */
@media (min-width: 1440px) {
  .about-content {
    max-width: 70%;
  }

  .about-container {
    padding: 0 40px;
  }

  .about-title {
    font-size: 42px;
  }
  
  .about-subtitle {
    font-size: 20px;
  }
  
  .about-text {
    font-size: 18px;
  }  
}